{
  "tabWidth": 4,
  "useTabs": false,
  "singleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "parser": "typescript",
  "singleAttributePerLine": false,
  "semi": false
}
